<div class="media">
   <div class="media-body">
     <small>
      <%= item.name %>
      <%= link_to  "", [current_user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
     </small>
   </div>
 </div>
